container_name     = "demo"
container_vmid     = "200"
container_password = "password"
container_ip       = "192.168.1.10"
container_gw       = "192.168.1.1"
container_ns       = "192.168.1.1"
phpmyadmin_require = "ip 192.168.1.0\\/24" # set to your ip or subnet escape / required; default is local"
ostemplate         = "tank:vztmpl/ubuntu-20.04-standard_20.04-1_amd64.tar.gz"
bitnami_installer  = "bitnami-wordpress-5.9.3-0-linux-x64-installer.run"

wp_name            = "Demo Blog"
wp_site_url        = "localhost"
wp_user            = "bitnami"
wp_user_pass       = "password"
wp_user_email      = "name@domain.tld"

proxmox_host    = "proxy"
pm_api_url      = "https://192.168.1.20:8006/api2/json"
pm_user         = "root@pam"
pm_password     = "pmrootpass"
pm_tls_insecure = "true"